@font-face {
    font-family: Montserrat;
    src: url(../fonts/static/Montserrat-Medium.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

body > .content {
    
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: whitesmoke;
}

.hero-name {
    font-size: 11em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: .1em;
    margin-top: auto;
    text-shadow: -5px 5px #a7a7a7;
    color: whitesmoke !important;
}

.buttons {

    display: flex;
    width: 50%;
    justify-content: space-evenly;
    min-height: 35px;

    div.button {
        border: none;
        border-radius: 2px;
        padding: 10px;
        width: 25%;
        text-align: center;
        background-color: black;
        color: black;
        position: relative;

    }

    div.button:hover {
        cursor: pointer;
    }

    div.growable.initial {
        opacity: 0;
        transition: opacity 1s, top 1s;
    }

    div.growable {
        touch-action: manipulation;
        background-color: whitesmoke;
        color: black;
        position: fixed;
        padding: 10px;
        overflow: hidden;

        .button-title {
            margin: 0px 0px 0px 0px;
            font-weight: bolder;
            font-size: 1em;
        }

        .info {
            opacity: 0;
            height: 0;
            transition: opacity 1s, height 1s;
            text-align: left;

            h2,h3 {
                font-style: italic;
            }

            ul {
                line-height: 1.35em;
            }

            li {
                margin-top: .5em;
                margin-bottom: .5em;
            }
        }

        .info.text {
            margin-top: .5em;

            hr {
                border: 2px solid black;
            }

            h3, span {
                font-style: italic;
            }

            h3 {
                display: inline;
            }

            h4 {
                margin-bottom: .5em;
            }

            p {
                margin-left: 5px;
                margin-top: .5em;
            }

        }

        .close {
            position: absolute;
            right: 20px;
            top: 10px;

            button {
                font-weight: bold;
                color: black;
                background:none;
                border: 2px solid black;
                font-size: 1.5em;
            }

            button:hover {
                cursor: pointer;
            }

        }

        .button-title {
            font-style: italic;
            transition: font-size 1s;
            p {
                margin: 0 !important;
            }
        }

    }

    div.growable.grown {

        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%,-50%);
        height: 85vh !important;
        overflow-y: auto;

        .button-title {
            margin: 0px 0px 0px 0px;
            font-size: 2em;
        }

        .info {
            opacity: 1;
            height: fit-content;
        }

    }

    div.growable.grown:hover {
        cursor:default;
        user-select: auto !important;
    }


}

@media screen and (max-width: 920px){
    
    @media screen and (min-height: 701px) {
        .hero-name {
            font-size: 8em;
        }        
    }

    .buttons {
        width: 100%;
    }

}

/* Vertical media queries */
@media screen and (max-height: 700px) {
    .hero-name {
        font-size: 5em;
    }
}

/* Horizontal media queries */
@media screen and (max-width: 1000px) {
    div.growable.grown {
        width: 100% !important;
    }
}

@media screen and (min-width: 1001px) {
    div.growable.grown {
        width: 45% !important;
    }
}

@media screen and (max-width: 450px) {
    .buttons div.growable {
        .button-title, .close {
            font-size: .7em;
        }
    }
    
}