@font-face {
    font-family: Montserrat;
    src: url(../fonts/static/Montserrat-Medium.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

body > .content {
    
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: whitesmoke;

    overflow: hidden;
    
}

.hero-name {
    font-size: 11em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: .1em;
    margin-top: auto;
    text-shadow: -5px 5px #a7a7a7;
    color: whitesmoke !important;
}

.buttons {

    display: flex;
    width: 50%;
    justify-content: space-evenly;
    min-height: 35px;

    div.button {
        border: none;
        border-radius: 2px;
        padding: 10px;
        width: 25%;
        text-align: center;
        background-color: black;
        color: black;
        position: relative;

        .content {
            background-color: red;
        }

    }

    div.button:hover {
        cursor: pointer;
    }

    div.growable {
        
        background-color: whitesmoke;
        color: black;
        position: fixed;
        padding: 10px;
        min-width: 105px;
        overflow: hidden;

        p.button-title {
            margin: 0;
            font-weight: bolder;
            font-size: 1em;
        }

        .info {
            opacity: 0;
            height: 0;
            transition: opacity 1s, height .1s;
            text-align: left;

            h2,h3 {
                font-style: italic;
            }

            ul {
                line-height: 1.35em;
            }

            li {
                margin-top: .5em;
                margin-bottom: .5em;
            }
        }

        .info.text {
            margin-top: .5em;

            hr {
                border: 2px solid black;
            }

            h3, span {
                font-style: italic;
            }

            h3 {
                display: inline;
            }

            h4 {
                margin-bottom: .5em;
            }

            p {
                margin-left: 5px;
                margin-top: .5em;
            }

        }

        .close {
            position: absolute;
            right: 20px;
            top: 20px;

            button {
                font-weight: bold;
                color: black;
                background:none;
                border: 2px solid black;
            }

            button:hover {
                cursor: pointer;
            }

        }

        .button-title {
            font-style: italic;
        }

    }

    div.growable.grown {

        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%,-50%);
        width: 100vw !important;
        height: 85vh !important;
        overflow-y: auto;

        p.button-title {
            font-size: 2em;
        }

        .info {
            opacity: 1;
            height: fit-content;
        }

    }

    div.growable.grown:hover {
        cursor:default;
        user-select: auto !important;
    }


}

@media screen and (max-width: 920px) {
    .buttons {
        width: 100%;

        .growable.grown {
            width: 100vw !important;
        }

    }

    .hero-name {
        font-size: 8em;
    }
}