html, body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

body > .content {
    
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: white;
    
}

.hero-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
}

.buttons {

    display: flex;
    width: 50%;
    justify-content: space-evenly;
    min-height: 35px;

    div.button {
        border: none;
        border-radius: 2px;
        padding: 10px;
        width: 25%;
        text-align: center;
        background-color: black;
        color: black;
        user-select: none;
        position: relative;
    }

    div.button:hover {
        cursor: pointer;
    }

    div.growable {
        background-color: white;
        color: black;
        position: fixed;
        padding: 10px;
        min-width: 105px;

        p {
            margin: 0;
            font-weight: bolder;
            font-size: 1em;
        }

    }

    div.growable.grown {
        left: 50% !important;
        top: 30% !important;
        transform: translate(-50%,-30%);
        width: 65vw !important;
        height: 85vh !important;

        p {
            font-size: 2em;
        }

    }


}